<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>复杂表头测试</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
</head>
<body>
<table class="layui-table" lay-data="{width:800, url:'/getTableData', page: true,id:'postTable'}" lay-filter="postTable">
    <thead>
    <tr>
        <th lay-data="{checkbox:true, fixed:'left'}" rowspan="2"></th>
        <th lay-data="{field:'username', width:150,edit:true}" rowspan="2">联系人</th>
        <th lay-data="{align:'center'}" colspan="3">地址</th>
        <th lay-data="{field:'amount', width:120,edit:true}" rowspan="2">金额</th>
<!--        <th lay-data="{fixed: 'right', width: 160, align: 'center', toolbar: '#barDemo'}" rowspan="2">操作</th>-->
    </tr>
    <tr>
        <th lay-data="{field:'LOC', width:120,edit:true}">省</th>
        <th lay-data="{field:'city', width:120,edit:true}">市</th>
        <th lay-data="{field:'zone', width:200,edit:true}">区</th>
    </tr>
    </thead>
</table>
<script src="/static/js/jquery-3.5.1.js"></script>
<script src="/static/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript"  th:inline="none">
    layui.use('table', function(){
        var table = layui.table;

        //监听单元格编辑
        table.on('edit(postTable)', function (obj) {
            // 单元格编辑之前的值
            var oldText = $(this).prev().text();
            var value = obj.value //得到修改后的值
                , data = obj.data //得到所在行所有键值
                , field = obj.field; //得到字段

            console.log(obj);

            //重新赋值
            var parents = $(this).parents()[1];
            console.log(parents)

            /**
             * 更改显示的内容
             */
            $(parents).find("td[data-field='city'] div").text(2 * value);

            /**
             * 更改value
             * @type {string}
             */
            layui.table.cache['postTable'][0].city = "haha"

            /**
             * 更改缓存
             */
            obj.update({
                city : "haha"
            })
            var tableData = layui.table.cache['postTable']
            console.log(tableData)
        })

    });
</script>

</body>
</html>